<% if @lists.blank? %>
  Adicione uma lista!
<% else %>
  <div class="row justify-content-space-evenly">
    <% @lists.each do |list| %>
      <div class="col-6 col-lg-3 col-xl-2">
        <a href="<%= list_path(list) %>" style="text-decoration: none;">
          <div class="card">
            <h3 class="card-title"><%= list.name %></h3>
            <p class="card-author"><%= list.author %></p>
            <ul class="p-0 mt-2">
              <% list.items.each do |item| %>
                <li class="card-item" style="list-style-type: none;">
                  <%= item.title %>
                </li>
              <% end %>
            </ul>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to "New list", new_list_path %>
