<h1><%= @list.name %> <small><%= @list.author %></small></h1>
<h2><%= pluralize @list.items.size, "item" %></h2>
<div>
  <% if @list.items.blank? %>
    Be the first to leave a item for <%= @list.name %>
  <% else %>
    <% @list.items.each do |item| %>
      <p><%= item.content %></p>
    <% end %>
  <% end %>
</div>
<%= simple_form_for([@list, @item]) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back to all lists", lists_path %>
