<h1><%= @list.name %> - <small><%= @list.author %></small></h1>
<h2><%= pluralize @list.items.size, "itens" %></h2>
<div>
  <% if @list.items.blank? %>
    Adicione um item para a lista!
  <% else %>
    <% @list.items.each do |item| %>
      <p><%= item.title %> - <%= item.description %></p>
    <% end %>
  <% end %>
</div>
<%= simple_form_for([@list, @item]) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back to all lists", lists_path %>
